@import "~reset-css";
@import "~antd/dist/antd.min.css";

@import "layouts/chat";

* {
  outline: none;
}

body, html, #root, .wrapper {
  height: 100%;
  color: #202020;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  font-size: 14px;
}

body {
  background-color: #f4f7fd;
}

.site-form-item-icon {
  opacity: 0.3;
}

span.anticon {
  cursor: pointer;
  font-size: 22px;
}

.ant-btn-circle {
  opacity: 0.4;
  border: 0;
  box-shadow: none;
  color: #202020 !important;

  &:after {
    display: none;
  }

  &:hover {
    opacity: 1;
  }
}

